<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- User -->
	<bean id="userDao" class="com.conch.dao.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>	

	<bean id="userManagerBase" class="com.conch.manager.UserManagerImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>
	
	<!-- 此处为代理 -->
	<bean name="userManager" parent="transactionProxy">
		<property name="target" ref="userManagerBase"></property>
	</bean>	
	<!-- User end -->
	
	<!-- Photo -->
	<bean id="photoDao" class="com.conch.dao.PhotoDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="photoManagerBase" class="com.conch.manager.PhotoManagerImpl">
		<property name="photoDao" ref="photoDao"></property>
	</bean>
	
	<!-- 此处为代理 -->
	<bean name="photoManager" parent="transactionProxy">
		<property name="target" ref="photoManagerBase"></property>
	</bean>
	<!-- Photo end -->
	
	<!-- PhotoMail -->
	<bean id="photoMailDao" class="com.conch.dao.PhotoMailDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="photoMailManagerBase" class="com.conch.manager.PhotoMailManagerImpl">
		<property name="photoMailDao" ref="photoMailDao"></property>
	</bean>
	
	<!-- 此处为代理 -->
	<bean name="photoMailManager" parent="transactionProxy">
		<property name="target" ref="photoMailManagerBase"></property>
	</bean>
	<!-- PhotoMail end -->
	
</beans>
